<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.E2EProject.listeners"/>
<listener class-name="Academy.E2EProject.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="NavTest">
    <classes>
      <class name="Academy.E2EProject.ValidateNav"/>
        </classes>
        </test>
        <test thread-count="5" name="HomeTest">
    <classes>
      <class name="Academy.E2EProject.HomePage"/>
       </classes>
        </test>
        <test thread-count="5" name="TitleTest">
    <classes>
      <class name="Academy.E2EProject.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
